.cat-card {
  width: 252px;
  height: 344px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 20px;
}

.cat-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cat-card .title {
  position: absolute;
  top: 40px;
  left: 15px;
  font-size: 24px;
  font-weight: 500;
}

.cat-card .desc {
  font-weight: 300;
  position: absolute;
  top: 15px;
  left: 15px;
}

.cat-card span {
  color: white;
}
