.gigs{
    display: flex;
    
    
}
.gigs-container{
    display: flex;
    width: 100%;
    
    flex-direction: column; 
    margin-right: 30px
     
}
.gigs-container .title{
    font-weight: 400;
    color: gray;
    padding: 20px 20px 0;

}
.gigs-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left .budget{
    display: flex;
    gap: 20px;align-items: center;
}
.left input{
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    outline: none;
}
.left input::placeholder{
    color: lightgrey;
}
.left button{
    height: 30px;
    width: 60px;
    background-color: green;
    border: 1px solid green;
    border-radius: 5px;
}
.right{
    display: flex;
    align-items: center;
    gap: 10px;
}
.right img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}


