.gigs{
    display: flex;

    
}
.gigs-container{
    display: flex;
    width: 100%;
    
    flex-direction: column; 
   
     
}
.gigs-container .title{
    font-weight: 400;
    color: gray;
   padding-left: 50px;
   padding-top: 20px;
    
   

}
.gigs-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.left .budget{
    display: flex;
    gap: 20px;align-items: center;
}
.gigs-input{
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    outline: none;
}
.gigs-input::placeholder{
    color: lightgrey;
}
.gigs-button{
    height: 30px;
    width: 60px;
    background-color: rgb(95, 209, 95);
    border: 1px solid rgb(95, 209, 95) ;
    border-radius: 5px;
}
.gigs-right{
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-right: 90px;
}
.gigs-right img{
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.gigs-right-menu {
    padding: 20px;
    background-color: white;
    border: 0.5px solid lightgrey;
    border-radius: 5px;
    position: absolute;
    margin-top: 135px;
    /* margin-right: 10px; */
    right: 0;
    z-index: 9;
    display: flex;

    gap: 5px;
    color: #555;
    
}
.sortby{
    color: gray;
}
.gigs-cards {
    top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
